
/* html{
    font-size: 16px;
    /* here 16px == 1rem; */
/* } */ 
.section{
    padding: 7.5rem 0;
}
/* css for header section */

.mainHeader{
    background-color: var(--color-dark);
}
.mainHeader .bg-light {
    background-color: transparent !important;
}
.mainHeader .navbar-nav .nav-link{
    color: var(--color-white);
    text-transform: capitalize;
    transition: all .4s ease-in-out;
    position: relative;
}

.mainHeader .navbar-light .navbar-nav .active>.nav-link,
.mainHeader .navbar-light .navbar-nav .nav-link.active,
.mainHeader .navbar-light .navbar-nav .nav-link.show, 
.mainHeader .navbar-light .navbar-nav .show>.nav-link,
.mainHeader .navbar-nav .nav-link:hover,
.mainHeader .navbar-nav .nav-link:focus,
.mainHeader .navbar-nav .nav-link:active{
    color: var(--color-primary);
}

.mainHeader .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--color-primary);
    transition: all .4s ease-in-out;
}

.mainHeader .navbar-nav .nav-link:hover::after,
.mainHeader .navbar-nav .active .nav-link::after{
    width: 100%;
}

.mainHeader .navbar-light .navbar-toggler {
    color: var(--color-primary);
    border-color: var(--color-primary);
}


.mainHeader .navbar-light .navbar-toggler i{
    color: var(--color-primary);
    font-size: 1.50rem;
}



.heroImg {
    height: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),url('../images/img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.heroInfo > img{
    width: 175px;
}

.mainHeading{
    font-size: 2.25rem;
    color: var(--color-white);
}

.short-border{
    position: relative;
    margin-bottom: 5rem;
}

.short-border::after{
    content: "";
    position: absolute;
    bottom: -35px;
    width: 60px;
    height: 3px;
    background: var(--color-white);
    left: 5px;
}

.headerPara{
    color: var(--color-white);
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 1.875rem;
}

.primary {
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    border: 2px solid #fff;
    position: relative;
    z-index: 1;
}

.primary::after{
content: "";
position: absolute;
top: 0;
left: 0;
width: 0;
height: 100%;
background-color: var(--color-primary);
z-index: -1;
transition: all .3s ease-in-out;
}

.primary:hover::after,
.primary:focus::after,
.primary:active::after{
    width: 100%;
}

.trialForm .card-header{
    background-color: var(--color-secondary);
}

.trialForm .card-header h2{
    font-size: 1.25rem;
}
.trialForm .card-header span{
    color: var(--color-primary);
}

.secondary{
    padding: 15px 30px;
    background-color: var(--color-primary);
    border: 0;
    color: #fff;
    font-size: 16px;
}
.trialForm.card{
    border: 0px !important;
    overflow: hidden;
}
.trialForm .card-footer{
    padding: 0;
}

input.form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.socialMedia{
    padding: 25px 0;
    border-bottom: 2px solid var(--color-border);
}
.socialIcon i{
    color: var(--color-icons);
    font-size: 40px;
}