:root{
    --color-dark:#000;
    --color-white:#fff;
    --color-primary:#ff8b38;
    --color-heading : #333333;
    --color-border : #b7b7b7;
    --color-para: #86878b;
    --color-secondary : #f5f5f5;
}