:root{
    --color-primary:#ff8b38;
    --color-secondary : #f5f5f5;
    --color-icons :#cccccc;
    --color-placeholder:#bdbdbd;
    --color-text-pri : #212121;
    --color-text-sec : #86878b;
    --color-dark:#000;
    --color-white:#fff;
    --color-border: #b7b7b7;
}